.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-conteiner {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}
.footer-item:not(:last-child) {
    margin-bottom: 10px;
}
.footer-address {
    display: block;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-mail, .footer-tel {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); 
}
.footer-socials-container {
    margin-left: 70px;
}
.social-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}
.footer-socials-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-social-icon {
    fill: #ffffff;
}
.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 93px;
}
.footer-form-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-form-label {
    display: block;
}
.futer-form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2f303a;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.3);;
}
.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196f3;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 0.5;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-form-button-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}