.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    color: black;
    margin: 0px 90px 0px 0px;
}    
.header-logo-firstpart {
    color: #2196f3;
}
.header-list {
    display: flex;
    flex-direction: row;
}
.header-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: black;  
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #2196f3;
    }
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.studio {
    color: #2196f3;
}
.link-item {
    display: block;
}
.header-contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.header-contacts-list:not(:first-child) {
    margin-left: 50px; 
}
.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: #2196f3;
        color: #2196f3;
    }
}

.header-icon {
    margin-right: 10px;
}
.main-menu-link {
    position: relative;
    display: block;
}
.main-menu-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
}