.main-section-first {
    background-color: #2f303a;
    text-align: center;
    margin: auto;
    padding: 200px 0px 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
                                      rgba(47, 48, 58, 0.4)), 
                                      url(../image/baground-hero.jpg);
    background-repeat: no-repeat;      
    background-size: cover; 
    max-width: 1600px;                           
}
.main-section-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    max-width: 696px;  
    margin: 0 auto;
}
.button-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #fff;
}
.main-section-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: #fff; 
    background-color: #2196f3;
    letter-spacing: 0.06em;
    height: 50px;
    width: 200px;
    border-radius: 6%;
    border:none;
    margin-top: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #0a89f1;
    }
}
